.layout {
  width: 98.5vw;
  height: 100vh;

  display: grid;
  grid:
    "Calendar Clima" 1fr
    / 5fr 2fr;

  align-items: start;
  justify-content: center;
}

.Calendar { 
  grid-area: Calendar;
  justify-self: start;
}

.Clima { 
  grid-area: Clima;
}