.layout {
    width: 1920px;
    height: 1080px;
  
    display: grid;
    grid:
      "Calendar Clima" 2fr
      / 1.3fr 0.7fr;
    gap: 8px;
  }
  
  .Calendar { grid-area: Calendar; }
  .Clima { grid-area: Clima; }