.layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "Form Form Calendar Calendar Calendar"
    "Form Form Calendar Calendar Calendar"
    "Form Form Calendar Calendar Calendar"
    "Form Form Adjuntos Adjuntos Adjuntos"
    "Form Form Adjuntos Adjuntos Adjuntos";
  gap: 10px; 

  align-items: start;
  justify-content: center;
}

.Form { 
  grid-area: Form; 
  display: grid;
}

.Adjuntos { 
  grid-area: Adjuntos; 
  display: grid;
}

.Calendar { 
  grid-area: Calendar;
  display: grid;
}