/* .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% ;
    grid-auto-flow: column;
    justify-items: stretch;
}

.itema {
    grid-column: 1;
    grid-row: 1 / 3;
  }

.itemb {
    grid-column: 2;
    grid-row: 1;
  }
.itemc {
    grid-column: 2;
    grid-row: 2;
  } */
.layout {

    display: grid;
    grid:
      "Form Form Adjuntos Adjuntos Adjuntos" 1fr
      "Form Form Adjuntos Adjuntos Adjuntos" 1fr
      "Form Form Calendar Calendar Calendar" 1fr
      "Form Form Calendar Calendar Calendar" 1fr
      "Form Form Calendar Calendar Calendar" 1fr
      / 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
}

.Form { grid-area: Form; }
.Adjuntos { grid-area: Adjuntos; }
.Calendar { grid-area: Calendar; }