.layout {

    display: grid;
    grid:
      "Titulo Titulo" 30%
      "Info Boton" 33%
      "Info Boton" 33%
      / 48% 48%;
    gap: 3%;
}
  
.Titulo { 
    grid-area: Titulo;
 }
.Info { 
    grid-area: Info; 
    align-items: center;
}
.Boton { 
    grid-area: Boton;
}